body {
  font-family: Arial;
  background-color: #0A0A0A;
  
}

.opsi {
  font-weight:bold;
  color:rgb(255,255,255);
}

.navigasi {
  background-color:#2E2D2D;
}

.input {
  background-color:#414040;
}

.tombol-login {
  width:100px;
  height:50px;
  margin-left: 250px;
}